:local(.styles) {
  text-align: center;
  padding: 10px 0 80px;
  background-color: #265a88;
  border-top: 1px solid;
  color: #000000;
  a {
    color: #E9DC51;
  }
  .bott {
    font-size: 10px;
    color: #000000;
  }
}
